/* --------------------------------------------- 风格1 --------------------------------------------- */
body {
  overflow: hidden;
}

/* ---------- 布局 ---------- */
#layout {
  display: flex; /* 它将容器变成灵活的容器。默认：横向 */
  height: 100lvh;
}

#main {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: auto;
}

/* ---------- 侧边栏 ---------- */
#sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background: var(--base-bg-color1);
  overflow-y: auto;
  transition: width 0.25s ease-out, transform 0.25s ease-out;
  z-index: 15;
}

#sidebar * {
  transition: all 0.25s ease;
}

#sidebar h2 {
  font-size: xx-large;
  font-family: "Merienda", Courier, monospace;
  margin-bottom: 1rem;
  color: var(--sidebar-element-hover-color);
}

#sidebar li {
  list-style: none;
  margin: 0.5rem 0;
}

#sidebar li a {
  display: block; /* 该元素占据其容器的全部可用宽度（默认情况下）。 */
  text-decoration: none; /* 不显示下横线 */
  color: var(--base-color);
  white-space: nowrap; /* 不换行 */
  text-overflow: ellipsis; /* 溢出的话显示"..." */
  overflow: hidden; /* 不显示溢出 */
}

#sidebar a:hover {
  color: var(--sidebar-element-hover-color);
  transform: scale(1.05);
}

#sidebar a.active {
  font-weight: bold;
  color: var(--sidebar-element-active-color);
  padding: 0.25rem 0.5rem;
  transform: scale(1.1);
}

#sidebar hr {
  border-color: var(--border-color);
}

/* 分割字体风格s */
#sidebar .separator-text {
  text-align: center;
  font-weight: bolder;
  border-top: 1px solid;
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

/* ---------- 内容区(main的一部分) ---------- */
#contents {
  padding-right: 24px;
  background-color: var(--base-bg-color1);
  height: 100%;
  line-height: 2rem;
  overflow: auto;
}

#contents h1 {
  margin-bottom: 27px;
  width: fit-content;
}

#contents h2 {
  margin-top: 0.5rem;
}

/* section的背景 */
#contents section {
  position: fixed;
  background: var(--base-bg-color2);
  transform: scale(0);
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 5px 5px 0 var(--box-shadow-color);
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 1s ease, opacity 1s ease;
}

#contents section:target {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  visibility: visible;
  padding: 24px 48px 10px 48px;
  transform: translateY(0);
  opacity: 1;
}

section .caption-wrapper {
  animation: none;
}

section:target .caption-wrapper {
  animation: portrait-in-anim 1s normal forwards;
}

@keyframes portrait-in-anim {
  from {
    opacity: 0.5;
    transform: translateX(-600px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* ---------- 未知页面 ---------- */
#page-not-found:target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#page-not-found p {
  font-size: 4rem;
  font-family: "Merienda", cursive;
}

/* ---------- 侧边栏显示按钮风格(初始状态：不显示) ---------- */
#showSidebarDiv {
  display: none;
  top: var(--header-height);
  height: 2rem;
  background: var(--base-bg-color1);
  padding: 0.5rem;
  align-items: center;
  border-bottom: 0.5px solid var(--border-color);
  border-top: 0.5px solid var(--border-color);
}

#translucentScreen {
  background: #00000080;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 14;
  transition: all 0.25s ease-out;
}

/* ---------- 响应式设计 ---------- */
@media (max-width: 1000px) {
  #sidebar {
    width: 300px;
    transform: translateX(-300px);
  }

  #sidebar.show {
    transform: translateX(0);
  }

  #main {
    margin-left: 0;
  }

  #translucentScreen.show {
    opacity: 1;
    pointer-events: all;
  }

  #showSidebarDiv {
    display: flex;
  }

  #showSidebarDiv span:hover {
    cursor: pointer;
  }
}

/* 风格灵感来自： https://schema-render.js.org/core-react/001-intro */
